*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-width: 200px;
}
.website {
  margin-top: 1em;
  text-align: center;
}
.website a:hover,
.website a:focus {
  text-decoration: none;
}
.url {
  display: flex;
  align-items: center;
}
.url input {
  flex-grow: 1;
  margin-left: 0.3em;
}
#form button {
  margin-top: 0.2em;
  width: 100%;
}
.logo {
  text-align: center;
}
.logo img {
  width: 64px;
  height: 64px;
}
